In [41]:
# !pip install facebook-scraper
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import facebook_scraper

https://stackoverflow.com/questions/62090645/how-to-scrape-a-closed-facebook-group-that-i-have-credentials-for-with-facebook

### NYC Housing Groups:
1. https://www.facebook.com/groups/GypsyHousingNYC/
2. https://www.facebook.com/groups/NewYorkCityhousing/
3. https://www.facebook.com/groups/2070694583203864/: NYC Queens
4. https://www.facebook.com/groups/2050201058584087/: NYC Brooklyn
5. https://www.facebook.com/groups/1416151198490459/: NYU Housing
6. https://www.facebook.com/groups/626355231038903/: NYC Manhattan
7. https://www.facebook.com/groups/2028131347450371/: NYC Midtown
8. https://www.facebook.com/groups/1225966920763001/: NYC General
9. https://www.facebook.com/groups/354409988359926/: NYC Apartment for Rent
10. https://www.facebook.com/groups/2105363849675275/: NYC Bronx
11. https://www.facebook.com/groups/442465739544235/: NYC Staten Islands
12. https://www.facebook.com/groups/221104891777373/: NYC Chelsea
13. https://www.facebook.com/groups/1986175048370665/: NYC Sublets
14. https://www.facebook.com/groups/211591802759097/: NYC Tribeca
15. https://www.facebook.com/groups/191002868295974/: NYC East Village
16. https://www.facebook.com/groups/2030208160592374/: NYC Harlem
17. https://www.facebook.com/groups/NYCRooms/: NYC Rooms

In [47]:
group_ids = [
    'GypsyHousingNYC',
    'NewYorkCityhousing',
    '2070694583203864',
    '2050201058584087',
    '1416151198490459',
    '626355231038903',
    '2028131347450371',
    '1225966920763001',
    '354409988359926',
    '2105363849675275',
    '442465739544235',
    '221104891777373',
    '1986175048370665',
    '211591802759097',
    '191002868295974',
    '2030208160592374',
    'NYCRooms'
]

### 1. Get Dataframe from a Group

In [49]:
dfs = []

for id_ in group_ids:
    print(id_)
    df_tmp = pd.DataFrame(get_posts(group=id_, pages=20))
    dfs.append(df_tmp)

GypsyHousingNYC
NewYorkCityhousing
2070694583203864
2050201058584087
1416151198490459
626355231038903
2028131347450371
1225966920763001
354409988359926
2105363849675275
442465739544235
221104891777373
1986175048370665
211591802759097
191002868295974
2030208160592374
NYCRooms

In [50]:
final_df = pd.concat(dfs)

In [51]:
final_df

,post_id,text,post_text,shared_text,time,image,video,video_thumbnail,video_id,likes,comments,shares,post_url,link,user_id,images
0,3611761032202763,"Moving sale. from $5 to$45, Size S to M . some...","Moving sale. from $5 to$45, Size S to M . some...",,2020-12-25 23:28:23,None,None,None,None,0,0,0,None,None,100011550961164,[]
1,3611753488870184,"$2,250 2 Bedroom Massive that can fit King siz...","$2,250 2 Bedroom Massive that can fit King siz...",,2020-12-25 23:25:19,None,None,None,None,0,0,0,None,None,100010630449710,[]
2,3611741675538032,Lease takeover available for the last 3 months...,Lease takeover available for the last 3 months...,,2020-12-25 23:17:01,None,None,None,None,0,0,0,None,None,625540939,[]
3,3611735115538688,"$2,200 3Bedroom 1 Bath spacious living room ap...","$2,200 3Bedroom 1 Bath spacious living room ap...",,2020-12-25 23:12:24,None,None,None,None,0,0,0,None,None,100010630449710,[]
4,3611727848872748,bought it original price $150 for Christmas pa...,bought it original price $150 for Christmas pa...,,2020-12-25 23:06:58,None,None,None,None,0,0,0,None,None,100011550961164,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,736443003655204,"NO BROKER FEE, 1 MONTH FREE!\nLarge, Sleek and...","NO BROKER FEE, 1 MONTH FREE!\nLarge, Sleek and...",,2020-12-23 17:52:50,None,None,None,None,0,0,0,None,None,100000343684501,[]
421,736442756988562,AMAZING APARTMENT on the UWS (Elevator/Laundry...,AMAZING APARTMENT on the UWS (Elevator/Laundry...,,2020-12-23 17:52:17,None,None,None,None,0,0,0,None,None,1047420452,[]
422,736442160321955,***THIS IS AN AD FOR ONE ROOM IN AN APARTMENT ...,***THIS IS AN AD FOR ONE ROOM IN AN APARTMENT ...,,2020-12-23 17:50:43,None,None,None,None,0,0,0,None,None,641805065,[]
423,736440356988802,"NO BROKER FEE, 1 MONTH FREE!\nSleek and modern...","NO BROKER FEE, 1 MONTH FREE!\nSleek and modern...",,2020-12-23 17:45:19,None,None,None,None,0,0,0,None,None,100000343684501,[]
424,736439263655578,Roy Saiag is in Ridgewood.\nDecember 23 at 3:1...,,Roy Saiag is in Ridgewood.\nDecember 23 at 3:1...,2020-12-23 17:42:14,None,None,None,None,0,0,0,https://facebook.com/story.php?story_fbid=1022...,None,1471188604,[]